* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --spacing: 14px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  font-family: Outfit;
}

p {
  font-size: 15px;
}

.card {
  width: min(90%, 18.75rem);
  background-color: var(--white);
  border-radius: 20px;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  box-shadow: 0 0 10px #00000022;

  &__image {
    width: 100%;
    border-radius: 12px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--spacing);
    padding: 14px;

    h3 {
      color: var(--dark-blue);
    }

    p {
      color: var(--grayish-blue);
    }
  }
}